/* Header.css */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 3;
    padding: 25px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.header-container.hidden {
    transform: translateY(-100%);
}

.header-container.background {
    position: fixed;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.desktop-nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.nav-list li {
    font-size: 1.2rem;
    color: var(--color-forest-green);
    font-weight: bold;
    font-family: var(--font-lora);
    cursor: pointer;
}

.nav-list li:hover {
    color: var(--color-olive-green);
}

.desktop-button {
    background-color: var(--color-olive-green);
    color: var(--color-soft-beige);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.desktop-button:hover {
    background-color: var(--color-soft-beige);
    color: var(--color-olive-green);
}

/* Mobile styles */
@media (max-width: 768px) {
    .nav-list,
    .desktop-button {
        display: none; /* Hides desktop navigation elements */
    }

    .hamburger-menu {
        display: flex; /* Makes the button visible on mobile */
        z-index: 1;
    }

    .header-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        display: none;
        width: 100%;
        gap: 0.5rem;
    }

    .nav-list.active {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .hamburger-menu .bar {
        width: 100%;
        height: 3px;
        background-color: var(--color-forest-green);
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }

    .hamburger-menu .bar.open:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger-menu .bar.open:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu .bar.open:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-soft-beige);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .mobile-menu.fade-in {
        opacity: 1;
        visibility: visible;
    }

    .mobile-menu.fade-out {
        opacity: 0;
        visibility: hidden;
    }

    .mobile-menu img {
        margin-top: 1rem;
    }

    .mobile-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }

    .mobile-menu li {
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
    }

    .mobile-menu li:hover {
        color: var(--color-olive-green);
    }

    .mobile-menu-button {
        background-color: var(--color-olive-green);
        color: var(--color-soft-beige);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .close-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        color: var(--color-forest-green);
    }
}

/* Desktop styles */
@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }

    .header-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-list {
        display: flex;
        gap: 1rem;
    }

    .hamburger-menu {
        display: none;
    }

    .desktop-button {
        display: inline-block;
    }
}
